/* Text Decoration */
body{
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Gamja Flower', cursive;
    font-size: 90px;
    text-align: center;
}
#color{
    font-size: 60px;
}
a{
    text-decoration-line: none;
    color: black;
}
.container{
    display: flex;
    
}
.tree{
    margin: auto;
    display: flex;
    width: 600px;
    height: 500px;
    background: url(/images/hangman_tree.gif);
    background-size: contain;
    background-repeat: no-repeat;
    
    
}
#play{
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 2em;
    font-family: 'Gamja Flower', cursive;
    text-align: center;
    border: solid black;

}
#man{
    margin-left: 196px;
    margin-top: 50px;
    visibility: hidden;
    
}
#body{
    margin-left: -400px;
    margin-top: 55px;
    visibility: hidden;
}
#leftarm{
    margin-left: -400px;
    margin-top: 60px;
    visibility: hidden;
}
#rightarm{
    margin-left: -400px;
    margin-top: 60px;
    visibility: hidden;
}
#leftleg{
    margin-left: -400px;
    margin-top: 59px;
    visibility: hidden;
}
#rightleg{
    margin-left: -400px;
    margin-top: 59px;
    visibility: hidden;
}

/* GAME PAGE */
.game{
    display: flex;
    width: 600px;
    height: 500px;
    background: url(/images/hangman_tree.gif);
    background-size: contain;
    background-repeat: no-repeat
}
#keyboard{
    margin: auto;
    width: 1000px;
    height: 300px;
    justify-content: center;
    padding: 3px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
button{
    font-family: 'Gamja Flower', cursive;
    font-size: 3em;
    width: 78px;
    height: 90px;
    text-align: center;
    background-color: transparent;
    border: solid gray;
    border-width: 2px;
    border-radius: 10%;
    margin: 3px;
}
#spaces{
    display: flex;
    width: 50vh;
    height: 500px;
    font-size: 3em;
    justify-content: center;
    align-items: center;

}
#guessSpace{
}
li{
    display: inline;
    font-size: 67px;
}
#guessSpace{
    margin-top: 69px;
    height: 300px;
    font-size: 67px;
    width: 800px;
    height: 100px;
    border: solid black;
    text-align: center;
}
.reset{
    font-size: 2em; 
}